interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.tpex.org.tw/www/zh-tw/emerging/historical?code=1260&date=115%2F05&response=json
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.tpex.org.tw/www/zh-tw/emerging/historical?code=1260&date=115%2F05&response=json
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.tpex.org.tw/www/zh-tw/emerging/historical?code=1260&date=115%2F05&response=json
  response:
    body:
      string: "{\"stat\":\"ok\",\"tables\":[{\"title\":\"\u8208\u6AC3\u500B\u80A1\u6B77\u53F2\u884C\u60C5\",\"data\":[[\"115/05/04\",\"228,221\",\"5,851,887\",\"27.40\",\"24.05\",\"25.64\",\"138\",\"0\",\"0\",\"0.00\",\"0.00\",\"0.00\",\"0\"],[\"115/05/05\",\"165,338\",\"4,032,492\",\"26.15\",\"22.90\",\"24.39\",\"110\",\"0\",\"0\",\"0.00\",\"0.00\",\"0.00\",\"0\"],[\"115/05/06\",\"147,484\",\"3,533,500\",\"24.80\",\"23.05\",\"23.96\",\"89\",\"0\",\"0\",\"0.00\",\"0.00\",\"0.00\",\"0\"],[\"115/05/07\",\"15,044\",\"361,147\",\"24.85\",\"23.70\",\"24.01\",\"13\",\"0\",\"0\",\"0.00\",\"0.00\",\"0.00\",\"0\"],[\"1[...]
