interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.tpex.org.tw/www/zh-tw/afterTrading/tradingStock?date=2026%2F02%2F01&code=6223&response=json
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.tpex.org.tw/www/zh-tw/afterTrading/tradingStock?date=2026%2F02%2F01&code=6223&response=json
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.tpex.org.tw/www/zh-tw/afterTrading/tradingStock?date=2026%2F02%2F01&code=6223&response=json
  response:
    body:
      string: "{\"tables\":[{\"title\":\"\u500B\u80A1\u65E5\u6210\u4EA4\u8CC7\u8A0A\",\"subtitle\":\"6223
        \u65FA\u77FD 115\u5E7402\u6708\",\"date\":\"20260201\",\"data\":[[\"115/02/02\",\"1,846\",\"4,810,153\",\"2,500.00\",\"2,670.00\",\"2,485.00\",\"2,630.00\",\"115.00\",\"4,430\"],[\"115/02/03\",\"2,061\",\"5,779,638\",\"2,750.00\",\"2,875.00\",\"2,750.00\",\"2,845.00\",\"215.00\",\"7,074\"],[\"115/02/04\",\"1,767\",\"4,876,750\",\"2,840.00\",\"2,855.00\",\"2,695.00\",\"2,750.00\",\"-95.00\",\"7,768\"],[\"115/02/05\",\"1,590\",\"4,417,468\",\"2,730.00\",\"2,850.00\",\"2,700.00\",\"2,750.00\",\"0.00\",\"3,698\"],[\"115/02/06\",\"1,113\",\"2,989,723\",\"2,750.00\",\"2,760.00\",\"2,640.00\",\"2,670.00\",\"-80.00\",\"3,938\"],[\"115/02/09\",\"1,364\",\"3,845,232\",\"2,805.00\",\"2,895.00\",\"2,770.00\",\"2,775.00\",\"105.00\",\"4,202\"],[\"115/02/10\",\"1,060\",\"2,920,181\",\"2,750.00\",\"2,820.00\",\"2,690.00\",\"2,785.00\",\"10.00\",\"3,218\"],[\"115/02/11\",\"802\",\"2,254,496\",\"2,805.00\",\"2,850.00\",\"2,790.00\",\"2,790.00\",\"5.00\",\"2,805\"],[\"115/02/23\",\"1,231\",\"3,400,585\",\"2,840.00\",\"2,865.00\",\"2,680.00\",\"2,805.00\",\"15.00\",\"4,008\"],[\"115/02/24\",\"2,009\",\"5,423,803\",\"2,805.00\",\"2,805.00\",\"2,645.00\",\"2,650.00\",\"-155.00\",\"14,054\"],[\"115/02/25\",\"3,369\",\"8,756,756\",\"2,650.00\",\"2,685.00\",\"2,530.00\",\"2,680.00\",\"30.00\",\"10,303\"],[\"115/02/26\",\"3,284\",\"9,310,780\",\"2,710.00\",\"2,945.00\",\"2,665.00\",\"2,945.00\",\"265.00\",\"11,943\"]],\"fields\":[\"\u65E5
        \u671F\",\"\u6210\u4EA4\u5F35\u6578\",\"\u6210\u4EA4\u4EDF\u5143\",\"\u958B\u76E4\",\"\u6700\u9AD8\",\"\u6700\u4F4E\",\"\u6536\u76E4\",\"\u6F32\u8DCC\",\"\u7B46\u6578\"],\"notes\":[\"\u4EE5\u4E0A\u8CC7\u6599\u4E0D\u542B\u4E0A\u6AC3\u80A1\u7968\u9245\u984D\u4EA4\u6613\",\"ETF\u8B49\u5238\u4EE3\u865F\u7B2C\u516D\u78BC\u70BAK\u3001C\u8005\uFF0C\u8868\u793A\u8A72ETF\u4EE5\u5916\u5E63\u4EA4\u6613\uFF0C\u5176\u4E00\u4EA4\u6613\u55AE\u4F4D(\u5F35)\u61C9\u70BA100\u53D7\u76CA\u6B0A\u6216\u5176\u6574\u500D\u6578\uFF0C\u8ACB\u8A73\u5176\u516C\u958B\u8AAA\u660E\u66F8\u3002\"],\"totalCount\":12,\"summary\":[]}],\"date\":\"20260201\",\"code\":\"6223\",\"name\":\"\u65FA\u77FD\",\"showListPriceNote\":false,\"showListPriceLink\":false,\"flagField\":\"\u5F35\u6578\",\"stat\":\"ok\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
