interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.tpex.org.tw/www/zh-tw/afterTrading/tradingStock?date=2015%2F05%2F01&code=6223&response=json
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.tpex.org.tw/www/zh-tw/afterTrading/tradingStock?date=2015%2F05%2F01&code=6223&response=json
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.tpex.org.tw/www/zh-tw/afterTrading/tradingStock?date=2015%2F05%2F01&code=6223&response=json
  response:
    body:
      string: "{\"tables\":[{\"title\":\"\u500B\u80A1\u65E5\u6210\u4EA4\u8CC7\u8A0A\",\"subtitle\":\"6223
        \u65FA\u77FD 104\u5E7405\u6708\",\"date\":\"20150501\",\"data\":[[\"104/05/04\",\"374\",\"34,462\",\"93.00\",\"93.00\",\"91.30\",\"91.40\",\"-0.60\",\"323\"],[\"104/05/05\",\"474\",\"43,721\",\"91.50\",\"93.20\",\"91.20\",\"91.80\",\"0.40\",\"368\"],[\"104/05/06\",\"468\",\"42,967\",\"91.50\",\"93.20\",\"90.40\",\"91.80\",\"0.00\",\"401\"],[\"104/05/07\",\"1,257\",\"117,125\",\"91.80\",\"94.10\",\"91.80\",\"93.50\",\"1.70\",\"820\"],[\"104/05/08\",\"1,079\",\"99,439\",\"93.50\",\"93.90\",\"90.30\",\"91.00\",\"-2.50\",\"804\"],[\"104/05/11\",\"3,400\",\"294,7[...]
