interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20260201&stockNo=2330
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>HiNetCDN</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20260201&stockNo=2330
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20260201&stockNo=2330
  response:
    body:
      string: "{\"stat\":\"OK\",\"date\":\"20260201\",\"title\":\"115\u5E7402\u6708
        2330 \u53F0\u7A4D\u96FB           \u5404\u65E5\u6210\u4EA4\u8CC7\u8A0A\",\"fields\":[\"\u65E5\u671F\",\"\u6210\u4EA4\u80A1\u6578\",\"\u6210\u4EA4\u91D1\u984D\",\"\u958B\u76E4\u50F9\",\"\u6700\u9AD8\u50F9\",\"\u6700\u4F4E\u50F9\",\"\u6536\u76E4\u50F9\",\"\u6F32\u8DCC\u50F9\u5DEE\",\"\u6210\u4EA4\u7B46\u6578\",\"\u8A3B\u8A18\"],\"data\":[[\"115/02/02\",\"33,342,359\",\"58,467,099,660\",\"1,750.00\",\"1,765.00\",\"1,745.00\",\"1,765.00\",\"-10.00\",\"227,693\",\"\"],[\"115/02/03\",\"30,386,718\",\"54,587,495,232\",\"1,810.00\",\"1,810.00\",\"1,785.00\",\"1,800.00\",\"+35.00\",\"63,370\",\"\"],[\"115/02/04\",\"29,087,857\",\"51,994,350,134\",\"1,785.00\",\"1,805.00\",\"1,775.00\",\"1,785.00\",\"-15.00\",\"89,612\",\"\"],[\"115/02/05\",\"28,974,303\",\"51,204,573,629\",\"1,765.00\",\"1,780.00\",\"1,760.00\",\"1,765.00\",\"-20.00\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20260401&stockNo=2330
  response:
    body:
      string: "{\"stat\":\"OK\",\"date\":\"20260401\",\"title\":\"115\u5E7404\u6708
        2330 \u53F0\u7A4D\u96FB           \u5404\u65E5\u6210\u4EA4\u8CC7\u8A0A\",\"fields\":[\"\u65E5\u671F\",\"\u6210\u4EA4\u80A1\u6578\",\"\u6210\u4EA4\u91D1\u984D\",\"\u958B\u76E4\u50F9\",\"\u6700\u9AD8\u50F9\",\"\u6700\u4F4E\u50F9\",\"\u6536\u76E4\u50F9\",\"\u6F32\u8DCC\u50F9\u5DEE\",\"\u6210\u4EA4\u7B46\u6578\",\"\u8A3B\u8A18\"],\"data\":[[\"115/04/01\",\"46,457,423\",\"85,667,372,522\",\"1,840.00\",\"1,855.00\",\"1,830.00\",\"1,855.00\",\"+95.00\",\"103,263\",\"\"],[\"115/04/02\",\"29,332,490\",\"53,540,295,381\",\"1,865.00\",\"1,865.00\",\"1,805.00\",\"1,810.00\",\"-45.00\",\"189,628\",\"\"],[\"115/04/07\",\"19,895,445\",\"36,785,851,775\",\"1,850.00\",\"1,860.00\",\"1,835.00\",\"1,860.00\",\"+50.00\",\"72,329\",\"\"],[\"115/04/08\",\"53,813,263\",\"104,453,237,705\",\"1,935.00\",\"1,950.00\",\"1,925.00\",\"1,950.00\",\"+90.00\",\"169,595\",\"\"],[\"115/04/09\",\"36,054,784\",\"70,112,621,815\",\"1,945.00\",\"1,955.00\",\"1,930.00\",\"1,955.00\",\"+5.00\",\"90,439\",\"\"]],\"notes\":[\"\u7B26\u865F\u8AAA\u660E:+/-/X\u8868\u793A\u6F32/\u8DCC/\u4E0D\u6BD4\u50F9\",\"\u8A3B\u8A18\u6B04\u4F4D\u6709**\u8005\uFF0C\u8868\u793A\u8A72\u80A1\u7968\u6062\u5FA9\u8CB7\u8CE3\u65E5\u50F9\u683C\u56E0\u8FA6\u7406\u8B8A\u66F4\u9762\u984D\u56E0\u7D20\u8207\u5176\u6700\u8FD1\u4E00\u6210\u4EA4\u65E5\u50F9\u683C\u6709\u4E00\u5B9A\u6BD4\u4F8B\u4E4B\u8F49\u63DB\u95DC\u4FC2\uFF0C\u6216\u8868\u793A\u8A72ETF\u6062\u5FA9\u8CB7\u8CE3\u65E5\u50F9\u683C\u56E0\u8FA6\u7406\u5206\u5272\u6216\u53CD\u5206\u5272\u4F5C\u696D\u56E0\u7D20\u8207\u5176\u6700\u8FD1\u4E00\u6210\u4EA4\u65E5\u50F9\u683C\u6709\u4E00\u5B9A\u6BD4\u4F8B\u4E4B\u8F49\u63DB\u95DC\u4FC2\u3002\",\"\u7576\u65E5\u7D71\u8A08\u8CC7\u8A0A\u542B\u4E00\u822C\u3001\u96F6\u80A1\u3001\u76E4\u5F8C\u5B9A\u50F9\u3001\u9245\u984D\u4EA4\u6613\uFF0C\u4E0D\u542B\u62CD\u8CE3\u3001\u6A19\u8CFC\u3002\",\"ETF\u8B49\u5238\u4EE3\u865F\u7B2C\u516D\u78BC\u70BAK\u3001M\u3001S\u3001C\u8005\uFF0C\u8868\u793A\u8A72ETF\u4EE5\u5916\u5E63\u4EA4\u6613\u3002\",\"\u6B0A\u8B49\u8B49\u5238\u4EE3\u865F\u53EF\u91CD\u8907\u4F7F\u7528\uFF0C\u6B0A\u8B49\u986F\u793A\u4E4B\u540D\u7A31\u4FC2\u76EE\u524D\u5B58\u7E8C\u6B0A\u8B49\u4E4B\u7C21\u7A31\u3002\"],\"total\":5}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
    status:
      code: 200
      message: ''
[...]
