interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20140501&stockNo=2330
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>HiNetCDN</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20140501&stockNo=2330
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20140501&stockNo=2330
  response:
    body:
      string: "{\"stat\":\"OK\",\"date\":\"20140501\",\"title\":\"103\u5E7405\u6708
        2330 \u53F0\u7A4D\u96FB           \u5404\u65E5\u6210\u4EA4\u8CC7\u8A0A\",\"fields\":[\"\u65E5\u671F\",\"\u6210\u4EA4\u80A1\u6578\",\"\u6210\u4EA4\u91D1\u984D\",\"\u958B\u76E4\u50F9\",\"\u6700\u9AD8\u50F9\",\"\u6700\u4F4E\u50F9\",\"\u6536\u76E4\u50F9\",\"\u6F32\u8DCC\u50F9\u5DEE\",\"\u6210\u4EA4\u7B46\u6578\",\"\u8A3B\u8A18\"],\"data\":[[\"103/05/02\",\"45,030,119\",\"5,324,516,642\",\"119.00\",\"119.50\",\"117.00\",\"118.00\",\"-0.50\",\"9,573\",\"\"],[\"103/05/05\",\"28,887,828\",\"3,374,584,476\",\"117.50\",\"118.00\",\"116.00\",\"117.00\",\"-1.00\",\"8,961\",\"\"],[\"103/05/06\",\"27,525,257\",\"3,247,099,826\",\"117.00\",\"119.00\",\"116.50\",\"118.00\",\"+1.00\",\"5,217\",\"\"],[\"103/05/07\",\"33,276,563\",\"3,931,216,686\",\"118.00\",\"119.00\",\"117.50\",\"118.50\",\"+0.50\",\"6,945\",\"\"],[\"103/05/08\",\"30,096,125[...]
[...]
