interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20150501&stockNo=2330
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>HiNetCDN</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20150501&stockNo=2330
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.twse.com.tw/exchangeReport/STOCK_DAY?date=20150501&stockNo=2330
  response:
    body:
      string: "{\"stat\":\"OK\",\"date\":\"20150501\",\"title\":\"104\u5E7405\u6708
        2330 \u53F0\u7A4D\u96FB           \u5404\u65E5\u6210\u4EA4\u8CC7\u8A0A\",\"fields\":[\"\u65E5\u671F\",\"\u6210\u4EA4\u80A1\u6578\",\"\u6210\u4EA4\u91D1\u984D\",\"\u958B\u76E4\u50F9\",\"\u6700\u9AD8\u50F9\",\"\u6700\u4F4E\u50F9\",\"\u6536\u76E4\u50F9\",\"\u6F32\u8DCC\u50F9\u5DEE\",\"\u6210\u4EA4\u7B46\u6578\",\"\u8A3B\u8A18\"],\"data\":[[\"104/05/04\",\"30,868,640\",\"4,548,281,580\",\"148.50\",\"148.50\",\"146.00\",\"147.50\",\"+0.50\",\"8,598\",\"\"],[\"104/05/05\",\"27,789,400\",\"4,083,589,300\",\"147.50\",\"148.00\",\"146.00\",\"147.00\",\"-0.50\",\"6,502\",\"\"],[\"104/05/06\",\"18,824,208\",\"2,765,471,076\",\"145.50\",\"148.00\",\"145.50\",\"147.50\",\"+0.50\",\"6,477\",\"\"],[\"104/05/07\",\"21,908,150\",\"3,209,664,442\",\"146.00\",\"147.50\",\"146.00\",\"146.50\",\"-1.00\",\"5,816\",\"\"],[\"104/05/08\",\"20,035,646[...]
